* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 35px 55px rgba(0, 0, 0, 0.1);
}
/*Left side of the page */

.container .left {
  position: relative;
  background: #00526f;
  padding: 25px;
}

.portFolio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.portFolio .imgBx {
  position: relative;
  width: 230px;
  height: 220px;
  border-radius: 70%;
  overflow: hidden;
}
.portFolio .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.portFolio h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.portFolio h2 span {
  font-size: 0.7em;
  font-weight: 300;
}
.contInfo {
  padding-top: 25px;
}
.title {
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contInfo ul {
  position: relative;
}
.contInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.contInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #36bbf8;
}
.contInfo ul li span {
  color: #fff;
  font-weight: 300;
}
.contInfo .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #081921;
  display: block;
  margin-top: 5px;
}
.contInfo .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #36bbf8;
}

/* Right side of the page */

.container .right {
  position: relative;
  background: #fff;
  padding: 25px;
}
.about {
  margin-bottom: 50px;
}
.about:last-child {
  margin-bottom: 0;
}
.title2 {
  color: #003143;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
p {
  color: #333;
}
.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.about .box .year {
  min-width: 150px;
}
.about .year h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

